/*Estilo del section*/
section {
    text-align: left;
}

/* Estilo base para .detalles-pelicula */
.detalles-pelicula {
    display: flex;
    align-items: flex-start;
    margin: 2%;
}

/* Estilo para .poster */
.poster {
    flex-shrink: 0;
    margin-right: 20px;
    text-align: center; /* Alinea la imagen al centro */
}

.poster img {
    height: 430px;
    object-fit: cover;
    max-width: 100%; /* Asegura que la imagen no sobrepase el ancho del contenedor */
}

/* Estilo para .info */
.info {
    margin-right: 15%;
    margin-left: 20px;
    flex-grow: 1;
}

/* Estilo para .anio y .sinopsis */
.anio,
.sinopsis {
    margin-top: 20px;
}

/* Estilo para .info h1 */
.info h1 {
    font-family: fantasy;
    font-size: 50px;
}

/* Estilo para .info h3 y p */
.info h3,
.info p {
    display: inline-flex; /* Cambia a bloque para que se ubiquen debajo en pantallas más pequeñas */
    font-size: 20px;
}

/* Estilo para .info h3 cuando está en línea con p */
.info h3 {
    margin-bottom: 5px; /* Ajusta el espacio entre h3 y p */
}

.sesiones-container {
    display: flex;
    justify-content: center;
}

.sesion {
    display: none;
    padding: 20px;
    margin: 10px;
    border: 2px solid;
}

.sesion:hover {
    transform: scale(1.05);
}

/* Consulta de medios para pantallas más pequeñas */
@media (max-width: 768px) {
    .detalles-pelicula {
        flex-direction: column; /* Cambia a dirección de columna en pantallas más pequeñas */
        align-items: center; /* Centra los elementos en la columna */
    }

    .poster {
        margin-right: 0; /* Elimina el margen derecho en pantallas más pequeñas */
    }

    .info {
        margin: 0; /* Elimina los márgenes en pantallas más pequeñas */
    }

    /* Ajuste del tamaño de la letra en pantallas más pequeñas */
    .info h1 {
        font-size: 40px;
    }

    .info h3,
    .info p {
        font-size: 18px;
    }
}